Repository jnadroj/thxmx-ui, pull requests merged in 2022-10, with the labels that each got.

#34 32 improve apptsx with grid
  package.json
  src/App.tsx
Labels: hacktoberfest, hacktoberfest-accepted

#38 feat: new component rating and added to the App.tsx using rc-rate
  package.json
  src/App.tsx
  src/lib/Rate/Rate.tsx
  src/lib/Rate/index.ts
  src/lib/index.ts
Labels: new component, hacktoberfest, hacktoberfest-accepted

#39 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, good first issue, hacktoberfest, hacktoberfest-accepted

#41 Feat 🚀: Eslint is added to the project
  .eslintignore
  .eslintrc.js
  .prettierrc.json
  package.json
  src/App.tsx
  src/constants/colors.ts
  src/constants/sizes.ts
  src/icons/Close/Close.tsx
  src/icons/Close/index.ts
  src/icons/index.ts
  src/interfaces/icons.ts
  src/interfaces/sizes.ts
  src/lib/Button/Button.stories.tsx
  src/lib/Button/Button.styles.ts
  src/lib/Button/Button.tsx
  src/lib/Button/types.ts
  src/lib/Input/Input.stories.tsx
  src/lib/Input/Input.styles.ts
  src/lib/Input/Input.tsx
  src/lib/Input/types.ts
  src/lib/Loader/Loader.stories.tsx
  src/lib/Loader/Loader.styles.ts
  src/lib/Loader/Loader.tsx
  src/lib/Loader/types.ts
  src/lib/Modal/Modal.stories.tsx
  src/lib/Modal/Modal.styles.ts
  src/lib/Modal/Modal.tsx
  src/lib/Modal/ModalContent/ModalContent.styles.ts
  src/lib/Modal/ModalContent/ModalContent.tsx
  src/lib/Modal/ModalContent/index.ts
  src/lib/Modal/ModalContent/types.ts
  src/lib/Modal/index.ts
  src/lib/Modal/types.ts
  src/lib/Rate/Rate.tsx
  src/lib/Rate/index.ts
  src/lib/Tag/Tag.stories.tsx
  src/lib/Tag/Tag.styles.ts
  src/lib/Tag/Tag.tsx
  src/lib/Tag/types.ts
  src/lib/index.ts
  src/main.tsx
  src/utils/hex-to-rgba.ts
  tsconfig.json
Labels: enhancement, help wanted, hacktoberfest, hacktoberfest-accepted

#45 Stories for the Rate component
  src/lib/Rate/Rate.stories.tsx
Labels: documentation, good first issue, hacktoberfest, hacktoberfest-accepted

#47 Add test to the proyect
  .husky/pre-commit
  package.json
  src/App.test.tsx
  src/setup.ts
  tsconfig.json
  vite.config.ts
Labels: enhancement, help wanted, hacktoberfest, hacktoberfest-accepted

#51 feat: new workflow for adding labels to the pr
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: enhancement, github-config

#52 fix: decrease modal z-index
  src/lib/Modal/Modal.styles.ts
Labels: bug, good first issue, hacktoberfest, hacktoberfest-accepted

#53 New list component
  src/App.test.tsx
  src/App.tsx
  src/lib/List/List.stories.tsx
  src/lib/List/List.tsx
  src/lib/List/index.ts
  src/lib/List/types.ts
  src/lib/index.ts
Labels: test

#58 test: test for utility hex-to-rgba
  src/test/utils/hex-to-rgba.test.ts
Labels: test

#63 Linter
  .github/workflows/linter.yml
  package-lock.json
Labels: hacktoberfest, github-config

#65 64 job tests
  .github/workflows/linter.yml
Labels: enhancement, hacktoberfest, github-config
